<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlychthuoc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanlyCHThuoc">
        <activity android:name=".Main.hoadonnhap.Themhoadon" />
        <activity android:name=".Main.hoadonnhap.list_hdn"></activity>
        <activity android:name=".Main.hoadonnhap.Danhsachhoadonnhap" />
        <activity android:name=".Main.HoadonBan.Thongtinhoadon" />
        <activity android:name=".chonhoadon" />
        <activity android:name=".Thongke" />
        <activity android:name=".Main.Nhanvien.Updatenhanvien" />
        <activity
            android:name=".Main.Nhanvien.MainNhanvien"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Main.HoadonBan.Danhsachhoadon" />
        <activity android:name=".Main.HoadonBan.item_hang" />
        <activity android:name=".Main.HoadonBan.MainGioHang" />
        <activity android:name=".Main.Nhanvien.thongtinnv" />
        <activity android:name=".Main.Nhanvien.Themnv" />
        <activity android:name=".Main.Sanpham.Updatesanpham" />
        <activity android:name=".Main.Sanpham.ThongTinSanPham" />
        <activity android:name=".Main.Sanpham.themsanpham" />
        <activity android:name=".Main.Sanpham.Trangchu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>